[submodule ".config/nvim"]
	path = .config/nvim
  url = https://github.com/ui-HookeyChiang/nvim
  branch = dev
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".claude/skill-dev"]
	path = .claude/skill-dev
	url = git@github.com:ui-HookeyChiang/skill-dev.git
