[user]
    name = ui-HookeyChiang
    email = hookey.chiang@ui.com
    signingkey = ~/.ssh/id_ed25519.pub
[core]
    filemode = true
    editor = nvim
[commit]
    verbose = true
    gpgsign = true
[alias]
    au = add -u
    ap = add --patch
    br = branch
    bv = branch -vv
    ba = branch -ra
    bd = branch -d
    ci = commit -v
    cim = commit -m
    cia = commit -v --amend
    cian = commit -v --amend --no-edit
    cb = checkout -b
    co = checkout
    cop = checkout --patch
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    cps = cherry-pick --skip
    df = diff
    dc = diff --cached
    dh = diff HEAD~1
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    lp = log -p
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    mm = merge --no-ff
    pu = push --follow-tags
    pur = pull --rebase
    re = rebase
    rea = rebase --abort
    rec = rebase --continue
    rei = rebase -i
    res = rebase --skip
    st = status --short --branch
    sh = stash
    shk = stash --keep-index
    shp = stash pop
    tg = tag -a
    td = tag --delete
    un = reset --hard HEAD
    uh = reset --hard HEAD^
[color]
    diff = auto
    status = auto
    branch = auto
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.git_allowed_signers
[tag]
    gpgsign = true
[url "git@github.com:"]
    insteadOf = https://github.com/
